*{
    box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
background-color: darkslategray;
}
.all{
    display: flex;
justify-content: center;
align-items: center;
padding-top: 200px;
}
h1{
    margin: 22px0;
}
.left{
width: 250px;
height: 200px;
background-color: #2a265f;
color: #fff;
padding: 14px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}

.right{
width: 500px;
height: 200px;
background-color: white;
padding: 14px;
}
#right{
    float: right;
}
#call{
font-size: 34px;
margin: 45px0;
}
a{
float:right;
background-color: 2A265F;
color: black;
padding: 8px 18px;
text-decoration: none;
border-radius: 14px;
}




